.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.profileSection {
  display: flex;
  gap: 20px;
}

.profileMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.image {
  border-radius: 30px;
}

.topArtists {
  display: flex;
  flex-wrap: wrap;
}
